In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv')

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
t = pd.get_dummies(df['Category'])

In [5]:
df = pd.concat([df, t[['spam']]], axis =1)

In [6]:
df.drop(['Category'], axis = 1, inplace = True)
df

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [7]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(df.Message, df.spam, test_size = 0.25)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]# this the way to convert words in emails to numbers by calculating the frequency of occurence of the words in it

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
X_train

4987                     That's y u haf 2 keep me busy...
1844                Super da:)good replacement for murali
2239    Think you sent the text to the home phone. Tha...
3788                          WHORE YOU ARE UNBELIEVABLE.
2011    Dunno lei... I thk mum lazy to go out... I nev...
                              ...
2949    Nope but i'll b going 2 sch on fri quite early...
4553    SYMPTOMS when U are in love: "1.U like listeni...
1498    I'm putting it on now. It should be ready for ...
5105    I wnt to buy a BMW car urgently..its vry urgen...
4850    either way works for me. I am  &lt;#&gt;  year...
Name: Message, Length: 4179, dtype: object

In [10]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [11]:
model.fit(X_train_count, y_train)

MultinomialNB()

In [12]:
X_test_count = v.transform(X_test)

In [13]:
model.score(X_test_count, y_test)

0.9863603732950467

In [14]:
from sklearn.pipeline import Pipeline

In [23]:
clf = Pipeline([('vectorizer', v),
               ('nb', model)]) # this is a one liner

In [24]:
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9863603732950467